@import '@/assets/styles/colors.scss';

.container {
    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 19px;

        padding: 20px;
        width: 100%;

        padding-top: 70px;
        overflow-y: auto;
        box-sizing: border-box;
        
        .input {
            width: 100%;
        }

        .diarySelect{
            display: flex;
            flex-direction: column;
            gap: 13px;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    color: $black2;
                    font-size: 14px;
                    font-weight: 500;
                }

                button {
                    padding: 0;
                    svg {
                        height: 20px;
                        transform: rotate(180deg);
                        
                    }
                }
            }

            .selectedDiary {
                color: $black1;
                background-color: #1d1d1d14;

                box-sizing: border-box;
                padding: 2px 9px;
                border-radius: 5px;

                font-size: 12px;
                font-weight: 500;
                width: fit-content;
            }
        }

        .selectDate {
            display: flex;
            flex-direction: column;
            gap: 13px;

            p {
                color: $black2;
                font-size: 14px;
                font-weight: 500;
            } 

            input {
                color: $black3;
                font-size: 14px;
                font-weight: 500; 
                
                &:active{
                  color: $black1;
                }

                &:focus{
                  color: $black1;
                }
            }
        }

        .PlaceContainer {
            display: flex;
            flex-direction: column;
            
            p {
                color: $black2;
                font-size: 14px;
                font-weight: 500;
                padding: 0 0 8px 0;
                box-sizing: border-box;
            } 
            
            .PlaceSearch {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;
                justify-content: center;
                padding: 0 0 21px 0;
                box-sizing: border-box;

                div{
                    pointer-events:none;
                    width: 100%;

                    input {
                        padding-right:42px;
                    }
                    input:disabled{
                        background-color: $white1;
                    }
                    label {
                        display: none;
                    }
                }
                
                svg {
                    position: absolute;
                    width: 15px;
                    height: fit-content;
                    right: 37px;
                }
            }
        }
        
        .submitButton {
            width: 100%;
            box-sizing: border-box;
            padding: 12px 132px;

            color: $white1;
            background-color: $black4;
            border-radius: 10px;

            font-size: 14px;
            font-weight: 500;
        }
    }
}