@import "@/assets/styles/colors.scss";

.NotiWrap{
  box-sizing: border-box;
  padding-top: 50px;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;

  .wrap{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;

    .NotiBox{
      width: 100%;
      border-bottom: 1px solid $black5;
      box-sizing: border-box;
      padding: 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Noti{
        width: 92%;

        .contentBox{
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
          align-items: flex-start;

          .category{
            font-size: 12px;
            box-sizing: border-box;
            padding: 2px 10px;
            border-radius: 5px;
          }

          .friend{
            background: #1d1d1d14;
            color: $black1;
          }

          .comment{
            background: #FB817614;
            color: $point-color1;
          }

          .record{
            background: #D0EEEC70;
            color: #75A2A0;
          }

          .content{
            font-size: 14px;
            font-weight: 400;
            color: $black1;
            width: 75%;
          }
        }

        .date{
          font-size: 12px;
          color: $black3;
        }
      }

      .btnBox{
        width: 5%;

        button{
          padding: 0px;
        }

        svg{
          width: 20px;
          transform: rotate(180deg);
          vertical-align: middle;
        }
      }
    }
  }
}

// 더보기 버튼
.moreBtn{
  position: relative;

  button{
    padding: 0px;

    svg{
      width: 24px;
      vertical-align: middle;
    }
  }

  .buttonWrap{
    position: absolute;
    top: 24px;
    right: 0;
    background: $white1;
    box-shadow: 0px 0px 20px #00000009;
    border-radius: 10px;
    width: 95px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    display: none;
    z-index: 1;

    button{
      padding: 0px;
      color: $wrong-color;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-width: 320px;
  max-width: 480px;
  padding: 13px 17px;
  box-sizing: border-box;

  position: fixed;
  background-color: $white1;
  border-bottom: 1px solid $black5;
  height: 47px;
  z-index: 100;

  .title{
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 500;
  }

  button{
      padding: 0;

      svg{
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
    }

  .rightHeader {
      .moreIcon {
        position: relative;
      }
      
      .menuContainer {
          position: absolute;
          top: 38px;
          right: 20px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          gap: 14px;

          padding: 21px 24px;
          box-sizing: border-box;
          background-color: #FFF;
          border-radius: 10px;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.09);
          
          font-size: 14px;
          font-weight: 500;

        button{
          vertical-align: middle;
          height: 24px;
          font-weight: 400;
          color: $black2;
        }

          .editButton {
              width: 100%;
              color: $black2;
              text-decoration: none;
          }
          .exitButton {
              width: 100%;
              color: $wrong-color;
          }
      }
  }
}

.deleteBtnBox{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: 0;
  background: $white1;
  border-top: 1px solid $black5;
  min-width: 320px;
  max-width: 480px;

  div{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
      width: 47%;
    }
  }
}

.checkBox{
  width: 8%;
}

.checkbox{
  display: none;
}

.selectDelete{
  margin-bottom: 0px;

  svg{
    width: 18px;
    height: 18px;
    vertical-align: middle;

    path{
      fill: $black4;
    }
  }
}

input[type="checkbox"]:checked + .selectDelete{
  
  svg{
    path{
      fill: $point-color1;
    }
  }
}