.carousel {
  width: 100%;
  height: 100%;
  touch-action: pan-y;
  overflow: hidden;
}
  

.carousel_content {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  position: relative;
  transition-property: transform;
  transform: translateX(0);
}

.carousel_item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}