@import "@/assets/styles/colors.scss";

.carousel {
  display: flex;
  flex-direction: row;
  touch-action: pan-x;
  white-space: nowrap;
}

.carousel_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}