@import '@/assets/styles/colors.scss';

.allContainer {

    .selectDate {
        position: fixed;
        top:50px;
        background-color: #FFF;
        width: 100%;
        min-width: 320px;
        max-width: 480px;

        box-sizing: border-box;
        padding: 20px;
    }   

    .pageList {
        display: flex;
        flex-direction: column;

        padding: 134px 20px 64px 20px;
        box-sizing: border-box;
        width: 100%;
        gap: 15px;

        .postItemRow {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 21px;

            a{
                width: calc(50% - 10.5px);
                svg{
                    width:12px;
                    height: 100%;
                }
            }
        }

        .noResultContainer {
            z-index: -2;
            width: 100%;
            height: 226px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            svg {
                width: 100%;
            }
            button {
                width: fit-content;
                box-sizing: border-box;
                padding: 12px 51.5px;
            }
        }
    }
    
}

// 달력 위치 커스텀
.react-datepicker__tab-loop{
  position: static !important;
}

.react-datepicker-popper {
  top: 0px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
