@import "@/assets/styles/colors.scss";

.formBox{
  box-sizing: border-box;
  padding-top: 50px;

  .wrap{
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0px;

    label{
      margin-top: 20px;
    }

    input{
      width: 100%;
    }
  }

  .certified{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;

    .inputBox{
      width: 62%;

      input{
        width: 100%;
      }
    }

    button{
      width: 35%;
      padding: 12px 20px;
    }
  }

  .btnWrap{
    margin-top: 19px;

    button{
      width: 100%;
      margin-top: 10px;
    }
  }
}

.certified{
  width: 100%;
}

.error{
  font-size: 13px;
  color: $wrong-color;
  margin-top: 10px;
}

.success{
  font-size: 13px;
  color: $ok-color;
  margin-top: 10px;
}