// colors
$sub-color1:#F7DEBD;
$sub-color2:#F2B1AB;
$point-color1:#FB8176;
$sub-color3:#D0EEEC;
$sub-color4:#EDD8DD;
$black1:#1d1d1d;
$black2:#616161;
$black3:#AAAAAA;
$black4:#DDDDDD;
$black5:#EEEEEE;
$black6:#F8F8F8;
$white1:#FFFFFF;
$wrong-color:#E60000;
$ok-color:#25B700;