@import '@/assets/styles/colors.scss';


    .react-datepicker-wrapper{
        width: 100%;
        position: relative;
    }

    .react-datepicker__input-container {
        
        display: flex;
        align-items: center;
        
        input {
            width: 100%;
            font-weight: 500;
            font-family: "Pretendard", sans-serif;
            padding: 13px 17px;
        }
        svg{
            position: absolute;
            right:17px;
            width: 20px;
            pointer-events: none
        }
    }
    
    .react-datepicker__tab-loop{
      position: relative;
    }

    .react-datepicker-popper {
        background-color: white;
        border-radius: 10px;
        z-index: 2;
        top: 0px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;

        
        .react-datepicker{
            border-color: $point-color1;
            width: 100%;

            .react-datepicker__navigation-icon {
                
                &::before {
                    border-color: $white1;
                }
            }
        }
        
        .react-datepicker__triangle {
            display: none;
        }
        
        .react-datepicker__month-container{
          width: 100%;
            
            .react-datepicker__header{
                background-color: #FB817640;
                border-bottom: $point-color1 1px solid;
                width: 100%;
                
                .react-datepicker__current-month {
                    font-size: 16px;
                    font-weight: bold;
                    font-family: "Pretendard", sans-serif;
                    color: black;
                }
            }
            
            .react-datepicker__day-name {
                width: 2.1rem;
                line-height: 1.7rem;
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                font-family: "Pretendard", sans-serif;
                color: $black1;
            }
            .react-datepicker__day {
                width: 2.1rem;
                line-height: 1.7rem;
                margin: 0;
                font-size: 14px;
                font-weight: 500;
                font-family: "Pretendard", sans-serif;
                color: $black2;
              
            }
            
        }
    }

    .react-datepicker__day--keyboard-selected{
      color: $white1 !important;
      background-color: $point-color1;
  }

  .react-datepicker__day--selected{
    color: $white1 !important;
    background-color: $point-color1;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range){
  color: $white1 !important;
  background-color: $point-color1;
}
.react-datepicker__day--in-range{
  color: $white1 !important;
  background-color: $point-color1;
}